/* loginpage.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.login-card {
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  max-width: 400px; /* Fixed width for the form */
  margin: 0 1rem; /* Space on the sides */
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.input-field {
  border: 1px solid #d1d5db;
  padding: 0.75rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox {
  margin-right: 0.5rem;
}

.login-button {
  background-color: #3b82f6;
  color: white;
  padding: 0.75rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #2563eb;
}

.links {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.terms {
  font-size: 0.8rem;
  color: #6b7280;
}

.terms a {
  color: #3b82f6;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}
